# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.DinamikTestFormu.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\C#\DinamikTestFormu\.idea\.idea.DinamikTestFormu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
